# Workers ENV
ENVIRONMENT=development
SENTRY_DSN=

# App ENV
# You can add the VITE prefix to make your env's available clientside - otherwise they will only be availble server side.
VITE_SENTRY_DSN=
