.sidebar {
  // outline: 1px solid red;

  .sidebar-header {
    margin: 0 1rem 1rem;

    hr {
      margin-top: 1rem;
    }
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0rem 1rem;
  }
}
